/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#colorForm{
  display: flex;
  flex-direction: column;
}

textarea, button {
  width: 200px;
}

input {
 width: 180px;
}


.display-wraper {
  display: flex;
  margin: 15px 0 0 0;
}

.display {
  border: 1px black solid;
  height: 200px;
  width: 450px;
}

.disTxt {
  cursor: pointer;
  width: fit-content;
}

/* Special classes CSS */
.bold {
  font-weight: bold;
}
.hide {
  display: none;
}

.err-border {
  border: red 2px solid;
}

.err-color {
  color: red;
}
